.git
.gitignore
.github
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
*.pyo
*.pyd
.mypy_cache
.cache
.uv-cache
build
dist
*.egg-info
.coverage
.coverage.*
coverage.xml
htmlcov
.DS_Store
.env
.env.*
!.env.example
Dockerfile
README.md
tests
